@import "tailwindcss";
/* LIGHT MODE (Default) */
:root {
    --bg-header: #ffffff;
    --bg-body: #f8fafc;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --border-color: #f1f5f9;
  }
  
  /* DARK MODE (html klassi 'dark' bo'lganda) */
  html.dark {
    --bg-header: #0f172a;
    --bg-body: #020617;
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;
    --border-color: #1e293b;
  }
  
  /* Header uchun maxsus klasslar */
  .header-container {
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-main);
    transition: all 0.3s ease;
  }
  
  .text-role {
    color: #10b981; /* Emerald green - o'zgarmas */
  }
